.fix{
     
    width: 80%;
    margin: auto;
    top: 0;
    position: sticky;
    height: 120px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   
   
}
.headimg{
   
    padding-top: 30px;
    padding-left: 10px;
    cursor: pointer;
   
}
 .loginimg{
  float: right;
  margin-top: 30px;
  margin-right: 10px;
   cursor: pointer;
   
 }  
 .cartimg{
     float: right;
      margin-top: 30px;
    margin-right: 10px;
     cursor: pointer;
 }
 .covidmain{
     height: 100%;;
     width: 40%;
     
     float: right;
     display: flex;
     justify-content: space-between;
 }
 .covidmain>div{
    width:23% ;
    height: 100%;
    cursor: pointer;
 
 }
 .covid{
 
   margin-top: 20px;
    text-decoration: underline;
    font-size: 15PX;
    font-weight: 550;
    color: rgb(2,71,91);
    font-family: sans-serif;
    text-underline-offset: 7px;
     cursor: pointer;
 }
.covidsmall{
   margin-top: 10px;
   color: rgb(85, 140, 155);
   font-family: sans-serif;
   font-size: 13px;
   font-weight: 600;
   line-height: 15px;
    cursor: pointer;
 }
